*.xcodeproj/*
!*.xcodeproj/project.pbxproj
S4iOSociaLib/build/
S4iOSociaLib/dist/Headers/*.h
S4iOSociaLib/dist/libS4iOSociaLib.a
S4iOSociaLib/dist/Resources/*.plist
S4iOSociaLib/dist/Vendor/MGTwitterEngine/*.h
S4iOSociaLib/dist/Vendor/facebook-ios-sdk/*.h
S4iOSociaLib/dist/Vendor/oauthconsumer/*.h
S4iOSociaLib/dist/Vendor/thrift/*.h
S4iOSociaLib/Test/build/
S4iOS_UI_Lib/build/
S4iOS_UI_Lib/dist/Headers/*.h
S4iOS_UI_Lib/dist/libS4iOS_UI_Lib.a
S4iOS_UI_Lib/dist/Resources/*.xib
S4iOS_UI_Lib/dist/Resources/*.png
S4iOSLib/build/
S4iOSLib/dist/Headers/*.h
S4iOSLib/dist/libS4iOSLib.a
S4iOSLib/dist/Resources/ico_refresh.png
S4iOSLib/dist/Vendor/*.h
S4iOSLib/dist/Vendor/CocoaAsyncSocket/*.h
S4iOSLib/dist/Vendor/CocoaHttpServer/*.h
S4iOSLib/dist/Vendor/CocoaLumberjack/*.h
S4iOSLib/dist/Vendor/json-framework/*.h
S4iOSLib/dist/Vendor/TouchJSON/*.h
S4iOSLib/dist/Vendor/yajl/*.h
S4iOSLib/Vendor/cocoaasyncsocket/RunLoop/Xcode/
S4iOSLib/Vendor/cocoaasyncsocket/GCD/Vendor
S4iOSLib/Vendor/cocoaasyncsocket/GCD/Xcode
S4iOSLib/Vendor/cocoahttpserver/AsyncSocket.h
S4iOSLib/Vendor/cocoahttpserver/AsyncSocket.m
S4iOSLib/Vendor/cocoahttpserver/Samples
S4iOSLib/Vendor/cocoalumberjack/Benchmarking
S4iOSLib/Vendor/cocoalumberjack/Xcode
S4iOSLib/Vendor/json-framework/Examples
S4iOSLibTest/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
target/*
.DS_Store
profile
*.svn
/.svn/*
*/*/xcuserdata
*/*/*/xcuserdata
*/*/*/*/xcuserdata
*.hg
/.hg/*
*-to-do