*.xcodeproj/*
!*.xcodeproj/project.pbxproj
S4iOSLib/build/
S4iOSLibTest/build/
S4iOS_UI_Lib/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
target/*
.DS_Store
profile
*.svn
/.svn/*
S4iOSLib/dist/Headers/*.h
S4iOSLib/dist/libS4iOSLib.a
S4iOSLib/dist/Resources/ico_refresh.png
S4iOSLib/Vendor/cocoaasyncsocket/RunLoop/Xcode/
S4iOSLib/Vendor/cocoaasyncsocket/GCD/Vendor
S4iOSLib/Vendor/cocoaasyncsocket/GCD/Xcode
S4iOSLib/Vendor/cocoahttpserver/AsyncSocket.h
S4iOSLib/Vendor/cocoahttpserver/AsyncSocket.m
S4iOSLib/Vendor/cocoahttpserver/Samples